<!DOCTYPE html>
<html>
    <head>
        <title>JPM | {{title}}</title>
        {{head}}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="ui attached stackable menu pointing">
            <div class="ui container">
                <a href="#" class="item">
                    <i class="home icon"></i>
                    Home
                </a>
                <a href="#" class="item">Item 2</a>
                <a href="#" class="item">Item 3</a>
            </div>
        </div>
        <div class="ui container">
            {{body}}
        </div>
    </body>
</html>

